-
    let menu = [
        {name: "Home", url: "#home"},
        {name: "Services", url: "#services"},
        {name: "About", url: "#about"},
        {name: "Works", url: "#works"},
        {name: "Blog", url: "#blog"},
        {name: "Clients", url: "#clients"},
        {name: "Contact", url: "#contact"}
    ]
-
    let worksMenu = [
        {name: "All", url: "#", filter: "all"},
        {name: "Branding", url: "#", filter: "branding"},
        {name: "Design", url: "#", filter: "design"},
        {name: "Development", url: "#", filter: "development"},
        {name: "Strategy", url: "#", filter: "strategy"}
    ]
-
    let aboutCards = {
        KhalilUddin: {
            src:"img/KhalilUddin",
            alt:"Khalil Uddin",
            employeeName: "Md. Khalil Uddin",
            description: "Head of Ideas"
        },
        RubelMiah: {
            src:"img/RubelMiah",
            alt:"Rubel Miah",
            employeeName: "Rubel Miah",
            description: "Lead WordPress Developer"
        },
        ShamimMia: {
            src:"img/ShamimMia",
            alt:"Shamim Mia",
            employeeName: "Shamim Mia",
            description: "Sr. Web Developer"
        },
        JohnDoe: {
            src:"img/JohnDoe",
            alt:"John Doe",
            employeeName: "John Doe",
            description: "Front-end Developer"
        },
        AlisaMur: {
            src:"img/AlisaMur",
            alt:"Alisa Mur",
            employeeName: "Alisa Mur",
            description: "Front-end Developer"
        }
    }
//- -
//-     let worksPhotos = { // All Branding Design Development Strategy
//-         one: {
//-             src:"img/1.jpg",
//-             alt:"Hair Dresser",
//-             title: "Hair Dresser",
//-             category: "strategy branding",
//-             price: "50 $"
//-         },
//-         two: {
//-             src:"img/2.jpg",
//-             alt:"Hair Dresser",
//-             title: "Pigeon",
//-             category: "development",
//-             price: "60 $"
//-         },
//-         three: {
//-             src:"img/3.jpg",
//-             alt:"Telephone",
//-             title: "Telephone",
//-             category: "design",
//-             price: "35 $"
//-         },
//-         four: {
//-             src:"img/4.jpg",
//-             alt:"Camera",
//-             title: "Camera",
//-             category: "branding",
//-             price: "70 $"
//-         },
//-         five: {
//-             src:"img/5.jpg",
//-             alt:"Bike",
//-             title: "Bike",
//-             category: "strategy",
//-             price: "68 $"
//-         },
//-         six: {
//-             src:"img/6.jpg",
//-             alt:"Notebook",
//-             title: "Notebook",
//-             category: "development",
//-             price: "300 $"
//-         },
//-         seven: {
//-             src:"img/7.jpg",
//-             alt:"Glasses",
//-             title: "Glasses",
//-             category: "design",
//-             price: "15 $"
//-         },
//-         eight: {
//-             src:"img/8.jpg",
//-             alt:"office",
//-             title: "Оffice",
//-             category: "branding development",
//-             price: "5 $"
//-         },
//-         nine: {
//-             src:"img/9.jpg",
//-             alt:"entertainment",
//-             title: "Entertainment",
//-             category: "strategy",
//-             price: "40 $"
//-         }
//-     }

-
    let blogPosts = {
        one: {
            src:"img/blogPostOne.jpg",
            alt:"Startup ideas",
            dataPost: "18",
            monthPost: "Oct",
            namePost: "Startup ideas needs to be funded",
            description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam"
        },
        two: {
            src:"img/blogPostTwo.jpg",
            alt:"User Interface Designing Elements",
            dataPost: "18",
            monthPost: "Oct",
            namePost: "User Interface Designing Elements ",
            description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam"
        }
    }
-
    let brands = [
        {url: "#", src: "img/ratings.png", alt: "ratings"},
        {url: "#", src: "img/deorham.png", alt: "deorham"},
        {url: "#", src: "img/makikMedia.png", alt: "makikMedia"},
        {url: "#", src: "img/bcause.png", alt: "bcause"},
        {url: "#", src: "img/womgiby.png", alt: "womgiby"}
    ]

mixin menu (items, myClass)
    for item in items 
        li 
            a(data-filter=item.filter href=item.url class=myClass) #{item.name}

mixin aboutCard (item)
    figure
        figcaption
            .about-img
                picture 
                    source(srcset=item.src + ".webp", tipe="image/webp", data-src="lazy.svg")
                    img(src=item.src + ".png", alt=item.alt, data-src="lazy.svg")
                .employee-social.flex
                    a.fb(href="#") 
                    a.tw(href="#") 
                    a.gg(href="#")
                    a.in(href="#")
            .description-card._anim-items
                p.employee-name #{item.employeeName}
                p.description.roboto #{item.description}

//- mixin worksPhoto (items)
//-     //- -let idAtr = 0
//-     for item in items
//-         figure(data-id=item.title class=item.category)._anim-show.photo-card
//-             figcaption.relative
//-                 .works-img
//-                     img(src=item.src, alt=item.alt, data-src="lazy.svg")
//-                 .works-description.flex
//-                     p.works-photo__title #{item.title}
//-                     p.works-photo__price #{item.price}
//-                     p.works-photo__description.roboto #{item.category}
//-                     a.works-photo__btn.roboto(href="#") add to card

mixin blogPost (item, myClass)
    .post
        .post-img.img-zoom
            img(src=item.src, alt=item.alt, data-src="lazy.svg")
        .post-info
            .data-name-post.flex 
                .data-post
                    p #{item.dataPost}
                    span #{item.monthPost}
                .name-post
                    p.text-left #{item.namePost}
                    i.text-left.roboto.sub-name-post By 
                        span Khalil 
                        | Uddin in 
                        span Development!
            .description-post
                p.text-info.roboto #{item.description}
                .read-more-content
                    p.text-info.roboto #{item.description}
                    p.text-info.roboto #{item.description}
                    p.text-info.roboto #{item.description}
                    p.text-info.roboto #{item.description}
            a.more-post.roboto(href="#popupBlog" class=myClass) Read more

mixin brand (items)
    for item in items 
        a.brand-company(href=item.url) 
            img(src=item.src, alt=item.alt)
            
