-
    let menu = [
        {name: "Home", url: "#home"},
        {name: "Services", url: "#services"},
        {name: "About", url: "#about"},
        {name: "Works", url: "#works"},
        {name: "Blog", url: "#blog"},
        {name: "Clients", url: "#clients"},
        {name: "Contact", url: "#contact"}
    ]
-
    let aboutCards = {
        KhalilUddin: {
            src:"img/KhalilUddin",
            alt:"Khalil Uddin",
            employeeName: "Md. Khalil Uddin",
            description: "Head of Ideas"
        },
        RubelMiah: {
            src:"img/RubelMiah",
            alt:"Rubel Miah",
            employeeName: "Rubel Miah",
            description: "Lead WordPress Developer"
        },
        ShamimMia: {
            src:"img/ShamimMia",
            alt:"Shamim Mia",
            employeeName: "Shamim Mia",
            description: "Sr. Web Developer"
        },
        JohnDoe: {
            src:"img/JohnDoe",
            alt:"John Doe",
            employeeName: "John Doe",
            description: "Front-end Developer"
        }
    }


mixin menu (items)
    for item in items 
        li 
            a(href=item.url) #{item.name}

mixin aboutCard (item)
    figure
        figcaption.about-card
            .about-img
                picture 
                    source(srcset=item.src + ".webp", tipe="image/webp")
                    img(src=item.src + ".png", alt=item.alt)
                .employee-social.flex
                    a.fb(href="#") 
                    a.tw(href="#") 
                    a.gg(href="#")
                    a.in(href="#") 
            p.employee-name #{item.employeeName}
            p.description.roboto #{item.description}
