-
    let menu = [
        {name: "Home", url: "#home"},
        {name: "Services", url: "#services"},
        {name: "About", url: "#about"},
        {name: "Works", url: "#works"},
        {name: "Blog", url: "#blog"},
        {name: "Clients", url: "#clients"},
        {name: "Contact", url: "#contact"}
    ]
-
    let cards = {
        clean: {
            class: "clean-typography",
            title:"Clean Typography",
            description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.",
        },
        rock: {
            class: "rock-solid",
            title:"Rock Solid Code",
            description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.",
        },
        expert: {
            class: "expert-support",
            title:"Expert Support",
            description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.",
        }
    }


mixin menu (items)
    for item in items 
        li 
            a(href=item.url) #{item.name}

mixin card (item)
    figure.price-cup
        figcaption
            img(src="img/sprite.png", alt=item.alt)
            h3.title-card #{item.title}
            p #{item.description}